:root {
  --font-size: 26px;

  --fonts-special: 'Gloock', serif;
  --fonts-regular: 'Open Sans', sans-serif;

  --fg-color: #262630;
  --bg-color: #fff;

  --theme-color: #21554f;

  --border-radius: 2px;

  // Header
  --header-bg-color: #f9f9f9;
}