.field {
  position: relative;

  &>input {
    padding: 1em 0.5em 1em 0.5em;

    transition: 0.2s padding;

    font-size: 0.75em;

    width: 100%;

    &+label {
      opacity: 0;

      font-size: 0.75em;

      position: absolute;
      top: 1em;
      left: 0.5em;
      transform: translateY(0);
      transition: 0.2s transform, 0.2s opacity;

      pointer-events: none;
    }

    &:not(:placeholder-shown) {
      padding: 1.5em 0.5em 0.5em 0.5em;

      &+label {
        opacity: 0.5;

        transform: translateY(-0.5em);
      }
    }

    &:required {
      &+label {
        &::after {
          content: '*';
          color: red;

          margin-left: 0.2em;
        }
      }

      // TODO Doesn't work
      //&::placeholder {
      // &::after {
      //   content: '*';
      //   color: red;

      //   margin-left: 0.2em;
      // }
      //}
    }
  }
}