.page--four {
  >div {
    display: flex;
    flex-direction: column;
    gap: 1em;

    >div {
      display: flex;
      justify-content: center;
      gap: 1em;
      flex-wrap: wrap;

      >div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &:nth-child(2) {
          max-width: 450px;
        }
      }

      ul {
        li {
          list-style: none;
          font-size: 0.75em;

          a {
            display: flex;
            gap: 0.5em;
            align-items: center;
          }
        }
      }
    }
  }
}